<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<!--<p th:text="'Hello!, ' + ${name} + '!'" />-->

<!--<div th:if="${greeting != null}">-->
    <!--<h1>Result</h1>-->
    <!--<ul>-->
        <!--<li th:each="item : ${greeting}" th:text="${item.name}">Item description here...</li>-->
    <!--</ul>-->
<!--</div>-->

<form action="/selectversionsfinal" th:object="${modulesForm}" method="POST">
<table>
    <tr>
        <td>modname</td>
        <td>from</td>
        <td>to</td>
        <td>codechanged</td>
        <td>vesion</td>
        <td>RC / M</td>
    </tr>
    <tr th:each="module,rowStat : *{modules}">
        <input type="hidden" th:field="*{modules[__${rowStat.index}__].name}" />

        <td data-th-text="${module.name}">...</td>

        <td data-th-text="${module.brancheFrom}">...</td>
        <td data-th-text="${module.brancheTo}">...</td>
        <td data-th-text="${module.codeChanged}">...</td>
        <input type="hidden" th:field="*{modules[__${rowStat.index}__].brancheFrom}" />
        <input type="hidden" th:field="*{modules[__${rowStat.index}__].brancheTo}" />
        <input type="hidden" th:field="*{modules[__${rowStat.index}__].codeChanged}" />
        <td>
            <input type="text" th:field="*{modules[__${rowStat.index}__].numericversion}" />
        </td>
        <td th:each="ty : ${allTypes}">
            <input type="radio" th:field="*{modules[__${rowStat.index}__].milestonetype}" th:value="${ty}" />
            <!--<label th:for="${#ids.prev('type')}" th:text="#{${'seedstarter.type.' + ty}}">Wireframe</label>-->
        </td>
    </tr>
</table>
    <input type="submit" value="Subscribe me!" />
</form>
</body>
</html>
